{% extends "base.html" %}
{% block body %}

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<div class="row">
	<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'trains' %}">Trains</a></li>
    <li><a href="{% url 'stations' %}">Stations</a></li>
  </ul>
  <br>
</div>
<p class="lead">This web app ( or as we call it the Chennai Loco ) is a project for our CS course "Database Management Systems" under the guidance of Prof. Dr. B. Saleena ma'am. 
<br><br>
It has a huge database of the schedules of Chennai Electric trains providing users a simple and an easy interface for searching the schedules of the Trains and also letting them viewing the details of each Train and Station ( with user ratings and reviews ). </p>
</div>

<br>

<br>

</div>
{% endblock body %}
