{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Search Trains - Chennai Loco {% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.css' %}">
{% endblock head %}
{% block body %}
<style type="text/css">
.searchbox {
    margin: 10px auto;
}

.search-hide {
    display: none;
    transition: all 0.3s ease-in;
}

.hide {
    display: block;
}
.easy-autocomplete-container ul li{
    width: 172px;
    padding: 0px;
}
.eac-item {
    width: inherit;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <center>
                <h3>Search by:</h3>
                <div class="search-train-destination searchbox">
                    <button class="searchbtns btn btn-small btn-info" data-class="search-train-destination" id="searchtype3">Train B/W Stations</button>
                    <div class="search-train-destination search-hide" data-isopen="0">
                        <form method="POST" action="{% url 'placessearch' %}">
                            {% csrf_token %}
                            <label for="#from-input">From</label>
                            <br>
                            <input type="text" id="from-input" name="fromstation" placeholder="Eg: Beach Station">
                            <br>
                            <label for="#to-input">To</label>
                            <br>
                            <input type="text" id="to-input" name="tostation" placeholder="Eg: Park Station">
                            <br>
                            <button type="submit" class="submitbutton">Search</button>
                        </form>
                    </div>
                </div>
                <div class="search-train-number searchbox">
                    <button class="searchbtns btn btn-small btn-info" data-class="search-train-number-div" id="searchtype1">Train Number</button>
                    <div class="search-train-number-div search-hide" data-isopen="0">
                        <form method="POST" action="{% url 'trainsearch' %}">
                            {% csrf_token %}
                            <label for="#train-number-input">Train Number</label>
                            <br>
                            <input type="text" id="train-number-input" name="trainnumber" placeholder="Eg: 40501">
                            <br>
                            <button type="submit" class="submitbutton">Search</button>
                        </form>
                    </div>
                </div>
                <div class="search-station-name searchbox">
                    <button class="searchbtns btn btn-small btn-info" data-class="search-station-name-div" id="searchtype2">Station Name</button>
                    <div class="search-station-name-div search-hide" data-isopen="0">
                        <form method="POST" action="{% url 'stationsearch' %}">
                            {% csrf_token %}
                            <label for="#station-name-input">Station Name</label>
                            <br>
                            <input type="text" id="station-name-input" name="stationname" placeholder="Eg: Palavanthangal">
                            <br>
                            <button type="submit" class="submitbutton">Search</button>
                        </form>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
{% endblock body %} {% block js %}
<script src="{% static 'js/easy-autocomplete.min.js' %}"></script>
<script>
// Search Buttons
$(".searchbtns").on("click", function() {
    var selector = "." + $(this).data("class");
    if ($(this).data("isOpen") == "1") {
        $(".search-hide").hide();
        $(this).data("isOpen", "0");
    } else {
        $(selector).fadeIn();
        $(this).data("isOpen", "1");
    }
});

// Ajax autocomplete
var stationOptions = {
    url: "{% url 'stationapi' %}",
    getValue: "name",
    list: {
        match: {
            enabled: true
        }
    }
};

var trainOptions = {
    url: "{% url 'trainapi' %}",
    getValue: function(element){
        var itemName = element.number + " - " + element.name;
        return itemName;
    },
    list: {
        match: {
            enabled: true
        }
    }
};

$("#from-input").easyAutocomplete(stationOptions);
$("#to-input").easyAutocomplete(stationOptions);
$("#station-name-input").easyAutocomplete(stationOptions);
$("#train-number-input").easyAutocomplete(trainOptions);
</script>
{% endblock js %}
