{% extends "base.html" %}
{% block title %}
	{{ from.name }} to {{ to.name }}
{% endblock title %}
{% block body %}
	<h3>From: {{ from.name }} ({{ from.code }})</h3>
	<h3>To: {{ to.name }} ({{ to.code }})</h3>
	<div class="results">
		<hr>
		{% for result in results %}
			<div class="results" id="{{ forloop.counter }}">
				<strong> {{ result.train.name }} - <a href='{% url "train" result.train.number %}'>{{ result.train.number }}</a></strong>
				<p> <a href="{% url 'station' result.f.station.slug %}">{{ result.f.station.name }}</a> - {{ result.f.arrival }} </p>
				<p> <a href="{% url 'station' result.t.station.slug %}">{{ result.t.station.name }}</a> - {{ result.t.arrival }} </p>
			</div>
			<hr>
		{% endfor %}
	</div>
{% endblock body %}