{% extends "base.html" %} {% block blockname %} {{ station.name }} - ChennaiLoco {% endblock blockname %}
{% block body %}
<center>
    <h3>Station Detail</h3>
    <div class="details">
        <p><strong>Name: </strong>{{ station.name }}</p>
        <p><strong>Code: </strong>{{ station.code }}</p>
        <p><strong>Locality: </strong>{{ station.locality }}</p>
        <p><strong>Pincode: </strong>{{ station.pincode }}</p>
        {% if station.majorStation %}
        <p>Major Station</p>
        {% endif %}
    </div>
    <div class="trains">
        List of trains going through:
        <br> {% for r in trainroutes %}
        <a href="{% url 'train' r.train.number %}">
            <p> {{ r.train.name }}:{{ r.train.number }}</a> - {{ r.time }}</p>
        {% endfor %}
    </div>
    <div class="reviews">
        {% if request.user.is_authenticated %}
            <div>
            Been here? Post a review then! 😄
            <div class ="review-input">
            <form action="{% url 'review' station.slug %}" method="POST">
            {% csrf_token %}
            <label for="id_rating">Rating</label>
            <input type="number" max="10" min="0" name="rating" id="id_rating">
            <label for="id_feedback">Review</label>
            <textarea  name="feedback" id="id_feedback"></textarea>
            <button type="submit" class="btn btn-success">Post</button>
            </form>
            </div>
            </div>
        {% else %}
            <div>
            <a href="{% url 'auth' %}">Login</a> to post a review.
            </div>
        {% endif %}
        Reviews for {{ station.name }}:
        <br>
        {% for review in station.review_set.all %}
            <div class="review col-sm-6 col-sm-offset-3">
            <p class="lead">Rating: {{ review.rating }}</p>
            <p class="lead">Review: {{ review.feedback }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% endblock body %}
