{% extends "base.html" %}
{% block blockname %}
	{{ station.name }} - ChennaiLoco
{% endblock blockname %}
{% block body %}
	<center>
	<h1>Station Detail</h1>
	<div class="details">
	<p>{{ station.name }}</p>
	<p>{{ station.code }}</p>
	<p>{{ station.locality }}</p>
	<p>{{ station.pincode }}</p>
	{% if station.majorStation %}
	<p>Major Station</p>
	{% endif %}
	</div>
	<div class="trains">
		List of trains going through: <br>
		{% for r in trainroutes %}
			<p> {{ r.train.name }}:{{ r.train.number }} - {{ r.departure }}</p>
		{% endfor %}
	</div>
{% endblock body %}