{% extends "base.html" %}
{% block blockname %}
	{{ station.name }} - ChennaiLoco
{% endblock blockname %}
{% block body %}
	<center>
	<h3>Station Detail</h3>
	<div class="details">
	<p><strong>Name: </strong>{{ station.name }}</p>
	<p><strong>Code: </strong>{{ station.code }}</p>
	<p><strong>Locality: </strong>{{ station.locality }}</p>
	<p><strong>Pincode: </strong>{{ station.pincode }}</p>
	{% if station.majorStation %}
	<p>Major Station</p>
	{% endif %}
	</div>
	<div class="trains">
		List of trains going through: <br>
		{% for r in trainroutes %}
			<a href="{% url 'train' r.train.number %}"><p> {{ r.train.name }}:{{ r.train.number }}</a> - {{ r.time }}</p>
		{% endfor %}
	</div>
{% endblock body %}