{% extends "base.html" %} {% block title %} Trains - ChennaiLoco {% endblock title %} {% block body %}
<main>
<div class="container list-container">
    <div class="row">
        {% for train in trains %}
        <div class="col s12 m6 train scale-transition scale-out">
          <div class="card blue-grey lighten-1 z-depth-3">
            <div class="card-content white-text center">
              <span class="card-title">{{ train.name }} - {{ train.number }}</span>
              <p>Starts at {{ train.stations.first.name }} and ends at {{ train.stations.last.name }} stopping at {{ train.stations.count }} stations in between.</p>
            </div>
            <div class="card-action center">
              <a href="{% url 'train' train.number %}" class="view-train">View Train info</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
</main>
{% endblock body %}
{% block js %}
<script>
$(".train").each(function(i, ele){
	//base time for the start of the animation
	var base = 70;
	setTimeout(function(){
		$(ele).addClass("scale-in");
	}, base*i);
})
</script>
{% endblock js %}

