{% extends "base.html" %} {% block title %} {{ train.number }} - Chennai Loco {% endblock title %} {% block body %}
<main>
<div class="row">
  <div class="center">
    <h3 class="red-text darken-4">{{train.number}} - {{ train.name }}</h3>
  </div>

    <div class="station-table z-depth-2 col s12 m6">
         <table class="bordered highlight">
         <thead class="center">
          <tr>
              <th>Station</th>
              <th>Arrival</th>
          </tr>
        </thead>
        <tbody>
        {% for r in route %}
          <tr>
            <td>{{ r.station.name }}</td>
            <td>{{ r.time }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    

    <div class="station-map col m6 z-depth-1">
        <div id="map"></div>
    </div>
</div>
</main>
    {% endblock body %}
    {% block js %}
    <script>
        var locations = [
        {% for r in route %}
            {lat: {{ r.station.location_set.first.lat }}, lng: {{ r.station.location_set.first.lng }}},
        {% endfor %}
        ]

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: locations[Math.floor(locations.length/2)]
        });

        var markers = locations.map(function(latlong, index){
            return new google.maps.Marker({
                position: latlong,
                label: (index+1).toString(),
                map: map
            });
        });

        var trainPath = new google.maps.Polyline({
            path: markers,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2
          });

        trainPath.setMap(map);

      }
    </script><script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApm4oDwEITYu-BUCkhoel8FbXUhBu3U-8&callback=initMap">
    </script>
    {% endblock js %}
